<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>TECRED</title>
</head>

<body>
<div style="margin:0 auto; width:550px"><img src="http://iacsa.com.mx/images/img_template.jpg" alt="Iacsa" width="550" height="200" title="Influx"/></div>
<div style="margin:0 auto; width:540px;font-family: Arial, Helvetica, sans-serif; text-align:center; font-size: 12px;color: #393939; padding: 5px 5px 5px 5px"><p style="color:#333; font-size:18px">Estimado administrador</p>
<p>Ha llegado un mensaje  a trav&eacute;s de la forma de contacto del sitio web de <b style="color:#393939"><br /> 
IACSA
"</b>, con los siguientes datos:</p>
        
    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td width="174" height="30" align="right" bgcolor="#f9f9f9"><b style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333">Nombre:</b></td>
            <td width="10" bgcolor="#f9f9f9">&nbsp;</td>
            <td width="329" align="left" bgcolor="#f9f9f9"><span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333">[nombre]</span></td>
        </tr>
        <tr>
            <td width="174" height="30" align="right" bgcolor="#f9f9f9"><b style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333">E-mail:</b></td>
            <td width="10" bgcolor="#f9f9f9">&nbsp;</td>
            <td align="left" bgcolor="#f9f9f9"><span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#393939">[email]</span></td>
        </tr>
        <tr>
            <td width="174" height="30" align="right" bgcolor="#f9f9f9"><b style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333">Telefono:</b></td>
            <td width="10" bgcolor="#f9f9f9">&nbsp;</td>
            <td align="left" bgcolor="#f9f9f9"><span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#393939">[telefono]</span></td>
        </tr>
        <tr>
            <td width="174" height="30" align="right" bgcolor="#f9f9f9"><b style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333">Empresa:</b></td>
            <td width="10" bgcolor="#f9f9f9">&nbsp;</td>
            <td align="left" bgcolor="#f9f9f9"><span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#393939">[empresa]</span></td>
        </tr>
        <tr>
            <td width="174" height="30" align="right" bgcolor="#f9f9f9"><b style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333">Estado:</b></td>
            <td width="10" bgcolor="#f9f9f9">&nbsp;</td>
            <td align="left" bgcolor="#f9f9f9"><span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#393939">[estado]</span></td>
        </tr>
        
        <tr>
            <td width="174" height="30" align="right" bgcolor="#f9f9f9"><b style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333">Mensaje:</b></td>
            <td width="10" bgcolor="#f9f9f9">&nbsp;</td>
            <td align="left" bgcolor="#f9f9f9"><span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#393939">[mensaje]</span></td>
        </tr>        
  	</table>

</div>
<div style="margin:0 auto; width:540px; font-family: Arial, Helvetica, sans-serif;font-size: 12px;background-color: #5F5F5F; padding: 5px 5px 5px 5px; text-align:center"><a style="color: #FFF" href="http://iacsa.com.mx/" target="_blank">www.iacsa.com.mx</a> </div>
</body>
</html>
