<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>&iexcl;Muchas gracias por ponerse en contacto con nostros!</title>
</head>

<body>
<div style="margin:0 auto; width:550px"><img src="http://iacsa.com.mx/images/img_template.jpg" alt="Iacsa" width="550" height="200" title="Influx"/></div>
<div style="margin:0 auto; width:540px; height:250px;font-family: Arial, Helvetica, sans-serif; text-align:center; font-size: 12px;color: #474443; padding: 5px 5px 5px 5px">
<p style="color:#333; font-size:22px">&iexcl;Muchas gracias por ponerse en contacto con nosotros!</p>
<p>En breve nos pondremos en contacto con usted para atenderle.</p>
<p style="color:#393939; font-size:14px">&iexcl; Que tenga un excelente dia !</p></div>
<div style="margin:0 auto; width:540px; font-family: Arial, Helvetica, sans-serif;font-size: 12px;background-color: #5F5F5F; padding: 5px 5px 5px 5px; text-align:center"><a style="color: #FFF" href="http://www.iacsa.com.mx/" target="_blank">www.iacsa.com.mx</a> </div>
</body>
</html>
